@font-face {
  font-family: paytone;
  src: url(../fuentes/Paytone.ttf); }
@font-face {
  font-family: OpenSans;
  src: url(../fuentes/OpenSans-Regular.ttf); }
/*  mixin */
body {
  background-color: #f5f5f7; }

img {
  width: 100%;
  max-width: 100%; }

h1, h2, h3 {
  font-family: paytone; }

p, article, label, a, button, select {
  font-family: OpenSans; }

button {
  background-color: black;
  color: white;
  padding: .5em 2em;
  border: 2px solid black;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto; }
  button:hover {
    border: 2px solid black;
    background-color: white;
    color: black; }

.bgBurbble {
  background: white;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 18px 30px #e2e2e2;
  margin: 0 1em;
  width: auto; }

.margin_body {
  margin-left: 17%; }

.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 1em 1em;
  box-sizing: border-box; }

/* header */
.container_header {
  background-color: black;
  position: fixed;
  left: 1%;
  top: 1%;
  width: 13%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px; }
  .container_header .logo {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    text-align: center; }
    .container_header .logo img {
      width: 70%;
      padding: 1em; }
  .container_header .containerNav {
    background-color: black;
    border-radius: 15px;
    color: white; }
    .container_header .containerNav ul {
      margin: 0;
      padding: 0; }
      .container_header .containerNav ul li {
        list-style: none;
        margin: 2em 0;
        border-radius: 15px 0 0 15px;
        border: 1px solid black; }
        .container_header .containerNav ul li a {
          color: #f1f1f1;
          text-decoration: none;
          text-transform: uppercase;
          text-align: left;
          padding: .5em 1em; }
        .container_header .containerNav ul li:hover > a {
          background-color: white;
          color: black;
          border-radius: 12px;
          text-align: left; }

/* TOP */
.container_top {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 10px; }
  .container_top input {
    width: 70%;
    padding: .8em 2em;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 20px #ececec;
    outline: none;
    border: 2px solid white; }
    .container_top input:focus {
      border: 2px solid black; }
  .container_top .label_name_model {
    margin-top: 15px; }
  .container_top .container_notification {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 1%; }
    .container_top .container_notification .imageNotify {
      background-color: #201f1f;
      color: white;
      width: 34px;
      height: 34px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 .5em; }
    .container_top .container_notification .imageMessage {
      background-color: #201f1f;
      color: white;
      width: 34px;
      height: 34px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 .5em 0 0; }
    .container_top .container_notification .container_name {
      background-color: white;
      padding: .5em;
      border-radius: 15px;
      position: relative; }
      .container_top .container_notification .container_name .image_person {
        background-color: #201f1f;
        color: white;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0; }
      .container_top .container_notification .container_name p {
        margin: 0;
        padding-left: 2em; }

/* inicio */
.container_section_index .container_section {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 2em;
  box-sizing: content-box;
  margin: 0 1em 2em;
  border-radius: 5px;
  box-shadow: 0px 3px 10px gainsboro;
  border-radius: 15px; }
  .container_section_index .container_section p {
    font-family: paytone;
    text-transform: uppercase; }
.container_section_index .containerTitleSection {
  display: flex;
  align-items: center; }
  .container_section_index .containerTitleSection .date {
    background-color: black;
    color: white;
    padding: .1em 2em;
    border-radius: 12px; }

/* Footer */
footer {
  background-color: black;
  color: white;
  position: fixed;
  height: 100%;
  width: 82%;
  text-align: center; }

/* containerForm */
.containerDIVs {
  padding: 0 0em 2em;
  display: flex;
  align-items: initial; }
  .containerDIVs form .containerInputs {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .containerDIVs form .containerInputs .containerBonificacion {
      width: 100%; }
      .containerDIVs form .containerInputs .containerBonificacion .contentBonificacion {
        padding: 1em 0;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .containerDIVs form .containerInputs .containerBonificacion .contentBonificacion select {
          padding: .7em;
          background-color: #f5f5f7;
          border: none;
          outline: none;
          border-radius: 12px;
          width: 100%; }
      .containerDIVs form .containerInputs .containerBonificacion .porcentaje {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
    .containerDIVs form .containerInputs .contentPag {
      height: 60px;
      width: 100%; }
      .containerDIVs form .containerInputs .contentPag .contentDatos {
        display: inline-flex; }
        .containerDIVs form .containerInputs .contentPag .contentDatos input {
          width: auto; }
  .containerDIVs form .labelPage {
    display: block;
    padding-bottom: 0; }
    .containerDIVs form .labelPage label {
      text-align: center; }
  .containerDIVs form h2 {
    text-transform: uppercase; }
  .containerDIVs form input {
    background-color: #f5f5f7;
    outline: none;
    border-radius: 15px;
    padding: .5em;
    border: 1px solid #f5f5f7;
    width: 100%; }
    .containerDIVs form input:focus {
      border: 1px solid black; }
  .containerDIVs form label {
    width: 60%; }
  .containerDIVs form .selectPag {
    padding-top: 0; }
    .containerDIVs form .selectPag select {
      padding: .7em;
      background-color: #f5f5f7;
      border: none;
      outline: none;
      border-radius: 12px;
      width: 100%; }
  .containerDIVs .containerModels {
    text-align: center; }
    .containerDIVs .containerModels .numberModel {
      font-size: 10em;
      font-family: paytone;
      width: 223px;
      height: 223px;
      background: black;
      color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }

.containerFlotante {
  display: none; }

/*# sourceMappingURL=style.css.map */
